@import 'tailwindcss';
@plugin 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@layer theme, base, primeng, utilities;

@variant dark (&:where(.app-dark, .app-dark *));

:root {
  --font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--font-family);
}
